.about {
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;

  &__wrapper-points {
    display: flex;
    padding: 0px 0px 50px 160px;
  }

  &__point {
    padding-left: 33px;
    width: 300px;
  }

  &__vertical-line {
    height: 63px;
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-right: 80px;
    margin-top: 12px;
  }

  &__point-header{
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    padding-bottom: 8px;
    
    &_active {
      color: #00C2FF;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 42px; /* 116.667% */
    }
  }

  &__point-text {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }

  &__text {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    padding-right: 60px;
  }

  &__heading {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 121.429% */
    padding-right: 120px;
    padding-bottom: 12px;
  }

  &__wrapper-content {
    display: flex;
  }

  &__advantages {
    display: flex;
    padding-top: 34px;
    padding-left: 16px;
  }

  &__advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__horizontal-line {
    width: 68.5px;
    height: 11.5px;
    border-radius: 18.5px;
    background: #00C2FF;
  }

  &__advantage-heading {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */
  }

  &__advantage-text {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.5px; /* 117.5% */
    text-transform: uppercase;
    padding: 0px 10px;
  }

  &__wrapper-about {
    max-width: 700px;
    padding: 80px 0px 220px 80px;
  }

  &__image-wrapper {
    width: 654px;
  }

  &__image-text {
    color: #FFF;
    font-size: 58.985px;
    font-style: normal;
    font-weight: 600;
    line-height: 72.597px; /* 123.077% */
    z-index: 7;
    &-wrapper {
      position: relative;
      background-image: url('/icons/rectangle.svg');
      background-repeat: no-repeat;
      width: 270px;
      height: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }

  &__image {
    position: absolute;
    
    &_type {
      &_house {
        bottom: -154px;
        right: -138px;
      }

      &_office {
        top: -85px;
        right: -182px;
      }
    }
  }

  &__rectangle {
    position: relative;
    top: -175px;
    right: -113px;
  }

  &__background {
    z-index: -1;
    position: absolute;
    top: -152px;
    left: -132px;
    width: 654px;
  }

}