@import 'mixins.scss';

.about {
  padding-top: 50px;
  max-width: 1440px;
  margin: 0 auto;

  &__wrapper-points {
    display: flex;
    padding: 0 0 50px 160px;

    @include laptop {
      padding: 0 110px 50px 110px;
    }

    @include wide-tablet {
      padding: 0 90px 50px 90px
    }

    @include tablet {
      padding: 0 45px 50px 45px
    }

    @include mobile {
      flex-direction: column;
      align-items: center;
      gap: 25px;
      padding-bottom: 180px;
    }
  }

  &__point {
    padding-left: 33px;
    width: 300px;

    @include wide-tablet {
      padding-left: 28px;
    }
  }

  &__vertical-line {
    height: 63px;
    width: 1px;
    border-right: 1px solid rgba(0, 0, 0, 0.12);
    padding-right: 80px;
    margin-top: 12px;

    @include wide-tablet {
      padding-right: 28px;
    }

    @include mobile {
      display: none;
    }
  }

  &__point-header{
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 36px;
    font-style: normal;
    font-weight: 500;
    line-height: 42px; /* 116.667% */
    padding-bottom: 8px;
    
    &_active {
      color: #00C2FF;
      font-family: Roboto;
      font-size: 36px;
      font-style: normal;
      font-weight: 500;
      line-height: 42px; /* 116.667% */
    }
  }

  &__point-text {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
  }

  &__text {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 133.333% */
    padding-right: 60px;

    @include wide-tablet {
      font-size: 16px;
    }

    @include mobile {
      padding-left: 22px;
      padding-right: 10px;
    }
  }

  &__heading {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 34px; /* 121.429% */
    padding-right: 120px;
    padding-bottom: 12px;

    @include tablet {
      padding-right: 90px;
    }

    @include mobile {
      padding-right: 20px;
      padding-left: 20px;
    }
  }

  &__wrapper-content {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }

  &__advantages {
    display: flex;
    padding-top: 34px;
    padding-left: 16px;
    gap: 55px;

    @include wide-tablet {
      padding-left: 0;
      gap: 30px;
    }

    @include tablet {
      padding-left: 0;
      padding-right: 10px;
      gap: 7px;
    }

    @include mobile {
      padding-right: 10px;
      padding-left: 10px;
      justify-content: space-around;
    }
    

  }

  &__advantage {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
  }

  &__horizontal-line {
    width: 68.5px;
    height: 11.5px;
    border-radius: 18.5px;
    background: #00C2FF;

    @include mobile {
      width: 37.5px;
      height: 8px;
      border-radius: 14px;
    }
  }

  &__advantage-heading {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 56px; /* 116.667% */

    @include mobile {
      font-size: 36px;
    }
  }

  &__advantage-text {
    color: rgba(0, 0, 0, 0.87);
    text-align: center;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 23.5px; /* 117.5% */
    text-transform: uppercase;
    width: 150px;

    @include mobile {
      font-size: 16px;
      width: 100%;
    }
  }

  &__wrapper-about {
    max-width: 600px;
    padding: 80px 0px 220px 80px;

    @include tablet {
      padding: 80px 0px 100px 150px;
    }

    @include mobile {
      padding: 100px 0px 30px 0;
    }
  }

  &__image-wrapper {
    width: 654px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__image-text {
    color: #FFF;
    font-size: 58.985px;
    font-style: normal;
    font-weight: 600;
    line-height: 72.597px; /* 123.077% */
    z-index: 7;

    &-wrapper {
      position: relative;
      background-image: url('/icons/rectangle.svg');
      background-repeat: no-repeat;
      width: 270px;
      height: 270px;
      display: flex;
      justify-content: center;
      align-items: center;
      left: -80px;
      top: -65px;

      @include laptop {
        left: -45px;
      }

      @include mobile {
        left: -230px;
      }
    }
  }

  &__image {
    position: absolute;
    
    &_type {
      &_house {
        bottom: -154px;
        right: -138px;
      }

      &_office {
        top: -85px;
        right: -182px;
      }
    }
  }

  &__rectangle {
    position: relative;
    top: -175px;
    right: -113px;
  }

  &__horizontal-line_wide {
    background-color: #00C2FF;
    width: 150px;
    height: 6px;
    border-radius: 3px;
    margin-top: 10px;
 
  }
  
  &__background {
    z-index: -1;
    position: absolute;
    top: -152px;
    left: -132px;
    width: 654px;
  }

}