.footer {
  
  &__logo {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  &__icon {
    width: 36px;
  }
  
  &__name {
    font-family: 'Geologica', Helvetica, sans-serif;
    font-size: 26.562px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}