@import 'mixins.scss';

.header {
  display: flex;
  gap: 70px;
  align-items: flex-end;
  padding: 30px 100px;
  margin: 0 auto;
  max-width: 1440px;

  @include tablet {
    gap: 5vw;
    padding-left: 50px;
  }

  @include mobile {
    padding: 35px 60px;
  }

  &__logo {
    display: flex;
    align-items: flex-end;
    gap: 4px;
    text-decoration: none;
    &:visited {
      color: inherit;
    }
  }

  &__icon {
    width: 36px;
  }
  
  &__name {
    font-family: 'Geologica', Helvetica, sans-serif;
    font-size: 26.562px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__navbar {
    display: flex;
    gap: 60px;
    
    @include tablet {
      gap: 5vw;
    }

    @include mobile {
      display: none;
    }
  }

  &__link {
    text-decoration: none;
    color: inherit;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    transition: 0.2s ease-in-out opacity;

    &:hover {
      opacity: 0.6;
    }

    &_active {
      color: #00C2FF;
      border-bottom: #00C2FF 3px solid;
      border-radius: 3px;
    }
  }
}