.intro {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

  &__content {
    padding: 160px 0 0 110px;
    width: 830px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  &__header {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 114.583% */
    margin: 0;
  }

  &__text {
    color: rgba(0, 0, 0, 0.70);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 145.455% */
    padding-bottom: 5px;
    padding-right: 190px;
  }

  &__link {
    color: #00C2FF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #00C2FF;
    background: #FFF;
    box-shadow: 0px 3px 24px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    width: 210px;
    height: 50px;
    gap: 20px;
  }

  &__link-text {
    padding-top: 15px;
    padding-left: 50px;
  }

  &__link-icon {

  }

  &__image-composition {
    max-height: 550px;
    max-width: 600px;
  }

  &__image-wrapper {

  }

  &__image-text {
    color: #FFF;
    font-family: Inter;
    font-size: 16.418px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #00B2FF;
    border-radius: 20.207px;
    position: relative;
    padding: 10px 20px;
    width: 218px;
    z-index: 7;
    top: 25px;
    right: -270px;
  }

  &__logo {
    position: relative;
    width: 395px;
    height: 450px;
    z-index: 7;
    right: 55px;
    top: -10px;
  }

  &__image_position_top {
    position: relative;
    top: -360px;
    right: 210px;
  }

  &__image_position_left {
    position: relative;
    top: -360px;
    right: 130px;
  }

  &__image_position_right {
    position: relative;
    z-index: 1;
    top: -330px;
  }
}