@import 'mixins.scss';

.intro {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;

  @include tablet {
    padding-top: 80px;
  }

  @include tablet {
    flex-direction: column-reverse;
  }

  &__content {
    padding: 160px 0 0 110px;
    width: 830px;
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include wide-tablet {
      padding: 130px 0 0 60px;
    }

    @include tablet {
      padding-top: 0;
    }

    @include mobile {
      padding-left: 35px;
      width: 100%;
    }
  }

  &__header {
    color: rgba(0, 0, 0, 0.87);
    font-family: Roboto;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: 55px; /* 114.583% */
    margin: 0;

    @include laptop {
      padding-right: 20px;
    }

    @include wide-tablet {
      padding-right: 0;
      width: 500px;
    }

    @include mobile {
      font-size: 32px;
      line-height: 33.5px;
      width: 356px;
    }
  }

  &__text {
    color: rgba(0, 0, 0, 0.70);
    font-family: Roboto;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px; /* 145.455% */
    padding-bottom: 5px;
    padding-right: 190px;

    @include laptop {
      padding-right: 100px;
    }

    @include tablet {
      padding-right: 300px;
    }

    @include mobile {
      font-size: 16px;
      line-height: 21.5px;
      padding-right: 20px;
    }
  }

  &__link {
    color: #00C2FF;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid #00C2FF;
    background: #FFF;
    box-shadow: 0px 3px 24px 4px rgba(0, 0, 0, 0.06);
    display: flex;
    width: 210px;
    height: 50px;
    gap: 20px;
  }

  &__link-text {
    padding-top: 15px;
    padding-left: 50px;
  }

  &__link-icon {

  }

  &__image-composition {
    max-height: 550px;
    max-width: 600px;
    position: relative;

    @include mobile {
      height: 400px;
    }
  }

  &__image-wrapper {

  }

  &__image-text {
    color: #FFF;
    font-family: Inter;
    font-size: 16.418px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    background-color: #00B2FF;
    border-radius: 20.207px;
    position: relative;
    padding: 10px 20px;
    width: 218px;
    z-index: 7;
    top: 25px;
    right: -270px;

    @include wide-tablet {
      top: 20px;
      right: -230px;
    }

    @include tablet {
      top: -10px;
      right: -550px;
    }

    @include mobile {
      font-size: 15.356px;
      top: -80px;
      right: -170px;
    }
  }

  &__logo {
    position: relative;
    width: 395px;
    height: 450px;
    z-index: 7;
    right: 55px;
    top: -10px;

    @include wide-tablet {
      width: 320px;
      right: 15px;
      top: -10px;
    }

    @include tablet {
      width: 360px;
      right: -250px;
      top: -20px;
    }
    
    @include mobile {
      width: 320px;
      right: -40px;
      top: -130px;
    }
  }

  &__image_position_top {
    position: relative;
    top: -360px;
    right: 210px;

    @include wide-tablet {
      top: -540px;
      right: -188px;
    }

    @include tablet {
      top: -360px;
      right: -100px;
    }

    @include mobile {
      top: -600px;
      right: -248px;
    }
  }

  &__image_position_left {
    position: relative;
    top: -360px;
    right: 130px;

    @include wide-tablet{ 
      top: -300px;
      right: 258px;
      width: 200px;
      height: 200px;
    }

    @include tablet {
      top: -340px;
      right: -185px;
    }

    @include mobile {
      width: 180px;
      height: 180px;
      top: -409px;
      right: 190px;
    }
  }

  &__image_position_right {
    position: relative;
    z-index: 1;
    top: -330px;

    @include wide-tablet {
      top: -530px;
      right: -210px;
      width: 220px;
      height: 220px;
    }

    @include tablet {
      top: -330px;
      right: -310px;
    }

    @include mobile {
      top: -553px;
      right: -257px;
    }
  }

  &__background {
    position: absolute;
    overflow: visible;
    top: -600px;
    right: -530px;
    z-index: -1;

    @include wide-tablet {
      width: 1000px;
      top: -386px;
      right: -408px;
    }

    @include tablet {
      width: 1100px;
      top: -455px;
      right: -532px;
    }

    @include mobile {
      width: 900px;
      top: -380px;
      right: -349px;
    }
  }

  
}