@import 'mixins.scss';

.services {
  display: flex;
  flex-direction: column;
  padding: 0 100px;
  max-width: 1440px;
  margin: 0 auto;

  @include wide-tablet {
    padding: 0 50px 70px;
  }

  @include mobile {
    padding: 0 30px 70px;
  }

  &__wrapper-services {
    display: flex;

    &_reversed {
      flex-direction: row-reverse;
    }

    @include tablet {
      flex-direction: column-reverse;
    }
  }

  &__wrapper-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
    min-width: 500px;

    @include tablet {
      min-width: 0;
    }

    @include mobile {
      gap: 25px;
    }
  }

  &__text {
    display: flex;
    align-items: center;
    gap: 10px;

    font-family: 'Inter', Arial, Helvetica, sans-serif;
  }

  &__image {
    display: block;
    height: 100%;
    max-width: 500px;
    min-width: 0;
    object-fit: cover;
    flex-shrink: 1;
    align-self: center;

    @include tablet {
      width: 100%;
    }
  }
  
  &__heading {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    padding: 23px 10px;

    @include mobile {
      font-size: 26.658px;
      line-height: 29.158px; 
    }
  }
}